.ceo-img {
    height: 80%;
    width: 50%;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 3rem;
  }
  .img-container {
    text-align: center;
  }
  
  @media (max-width: 992px) {
    .ceo-img {
      margin-left: 0;
      padding: 0;
    }
  }
  @media (min-width: 992px) {
    /* Large screens */
    .ceo-des {
      padding-top: 0 !important;
    }
  }
  