.supportBackground {
    background-color: #387ed1;
    color: white;
  }
  
  .Support-tags a {
    text-decoration: underline;
    color: white;
    padding: 0.5rem;
  }
  
  .featured-tags a {
    color: white;
  }
  